= heading
%table
  -10.times do |y|
    %tr
      -10.times do |x|
        -if shots.map(&:coords).include? [x,y]
          - shot = shots.find{|s| s.coords == [x,y]}
          %td{:class => shot.hit? ? "hit#{shot.sunk.blank? ? "" : " sunk"}" : "miss"}
        -else
          %td
            =link_to "", update_grid_path(:id => @game.id, :x => x, :y => y), :title => "Play x:#{x}, y:#{y}", :remote => true
