%h1 Games

=link_to "New Game", new_game_path

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Status
      %th
  %tbody
    - @games.each do |game|
      %tr
        %td=game.name
        %td=game.email
        %td=game.game_status || "Playing"
        %td=link_to "View", play_game_path(:id => game.id)
