%h1 Playing Game

.grid#enemy_grid
  =render "grid", :heading => "Their Side:", :shots => @game.salvos.ours
 
.grid#friendly_grid
  =render "grid", :heading => "Your Side:", :shots => @game.salvos.enemy
  
#legend
  %h3 Legend
  .sunk Sunk!
  .hit Hit
  .miss Miss
  .unknown Unknown
  %br
  - unless @game.game_over?
    - if @play_manually
      = link_to "Auto Play", play_game_path(:id => @game, :manually => false)
    - else
      = link_to "Manual Play", play_game_path(:id => @game, :manually => true)

= content_for :head do
  = stylesheet_link_tag "play"
  - unless @game.game_over? or @play_manually  # don't need to update
    = javascript_include_tag 'jquery.periodicalupdater', 'play'
    :javascript
      $(document).ready(function() {
        $.PeriodicalUpdater("#{update_grid_path}", {
          method: 'get',
          data: {id: "#{@game.id}"},
          minTimeout: 1500,
          maxTimeout: 4000
        });
      });
