- if @game.game_over?
  window.location.href = "#{root_url(:game_over => "#{@game.id}")}";
- else
  $('#friendly_grid').html("#{escape_javascript(render 'grid', :heading => "Your Side:", :shots => @game.salvos.enemy)}");
  $('#enemy_grid').html("#{escape_javascript(render 'grid', :heading => "Their Side:", :shots => @game.salvos.ours)}");
